#---------------------------------------------------------------------
# Impide navegar en los direcctorios del sitio
#---------------------------------------------------------------------
#Options All -Indexes


#---------------------------------------------------------------------
# En caso de error presentar páginas personalizadas
#---------------------------------------------------------------------
#ErrorDocument 400 http://10.236.2.158/york/mybox/errores/400.php
#ErrorDocument 403 http://10.236.2.158/york/mybox/errores/403.php
#ErrorDocument 404 http://10.236.2.158/york/mybox/errores/404.php
#ErrorDocument 500 http://10.236.2.158/york/mybox/errores/500.php


#---------------------------------------------------------------------
# Evita tener acceso a los archivos con las siguientes extensiones
#---------------------------------------------------------------------
#<FilesMatch "(\.(bak|config|inc|ini|log|sh|sql)|~)$">
#    Order allow,deny
#    Deny from all
#    Satisfy All
#</FilesMatch>


#---------------------------------------------------------------------
# Puede escribir las siguientes instrucciones en este archivo.
# Estas directivas fueron escritas en el archivo apache2.conf.
#---------------------------------------------------------------------
#RewriteEngine on
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
